@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}




@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.table-title--element {
  @apply truncate before:float-left before:text-left before:mr-6 font-medium text-gray-800 tracking-tighter text-sm;
}


.table-data--element {
  @apply truncate leading-8 xl:leading-6 before:content-[attr(data-header)] before:xl:content-none before:font-bold before:text-gray-700 before:float-left before:text-left before:mr-6 text-right xl:text-left justify-between md:text-gray-500 font-light tracking-tighter text-gray-500 text-sm group-hover:text-black flex-[1_1_100%];
}